## if else

In [3]:
age = 2
if age > 18:
    print("you can vote")
else:
    print("abhi tu bacha hai!")

abhi tu bacha hai!

In [7]:
age = 45
result = "adult"  if age > 18 else "child"
print(result)

adult

In [5]:
name = "ankit"
if name == "piyush":
    print("my name is piyush")
else:
    print("i don't know my name")

i don't know my name

In [6]:
num = 67
if num % 2 == 0:
    print("even")
else:
    print("odd")

odd

## if else elif

In [11]:
age = 2

if age >= 60:
    print("senior")
elif age >= 30:
    print("adult")
elif age > 18:
    print("young")
else:
    print("bache ho abhi")

bache ho abhi

## nested if else

In [13]:
num = -67
if num > 0:
    if num % 2 == 0:
        print("even")
    else:
        print("odd")
else:
    print("negative value")

negative value

In [16]:
salary = 90000
credit = 670

if salary > 50000:
    if credit > 700:
        print("you can get a credit card")
    else:
        print("cibil is low")
else:
    print("salary is low")

cibil is low

In [17]:
salary = 90000
credit = 670

if (salary > 50000 and credit > 700):
    print("can get credi card")
else:
    print("work on credit score")

work on credit score

### username and password --> admin ,1234 , "accessn granted , denied

In [19]:
username = input("enter your username: ")
password = input("enter your password: ")

if username == "admin" and password == "1234":
    print("access granted")
else:
    print("denied")

denied

In [20]:
### divisible by 4. divisible by 100 , divisible by 400

In [21]:
year = 2024

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

2024 is a leap year.

### user input vowel and const

In [23]:
user = input("enter a char: ")

output = "vowel" if user in "aeiou" else "const"
print(output)

vowel

### zoo ticket price check , agar age 18 + hai to $ 20 ticket price child price will be 10 and we will give discount agar aaj saturday hai to of $5

In [ ]:
age = 2
day = "saturday"

price = 20 if age > 18 else 10

if day == "saturday":
    price -= 5 # price = price - 5
print(f"today price for ${price}")

today price for $5

In [29]:
name = "deepika"
age = 21

print("my name is",name,"i am ",age,"years  old ")

my name is deepika i am  21 years  old

In [30]:
print(f"my name is {name} and i am {age} years old")

my name is deepika and i am 21 years old